/* здесь используйте глобальные селекторы img, body, html и так далее*/

body {
  font-family: $primary-font, "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
}

.page__body {
  display: grid;
  min-height: 100%;
  grid-template-rows: min-content 1fr min-content;
}

img {
  min-width: 100%;
  height: auto;
  object-fit: contain;
}
