/* здесь используйте глобальные переменные */
$basic-white: #ffffff;
$basic-grey:#f2f2f2;
$basic-green:#68b738;
$basic-black: #000000;
$special-black:#222222;
$special-dark-grey: #444444;
$special-light-gray:#666666;
$status-error: #ff8282;
