/* Cтили блока advantages */
.advantages__title {
  font-size: 36px;
  line-height: 40px;
  font-family: $primary-font;
}

.advantages__list {
  margin: 0;
  padding: 0;
}

.advantages__item {
  list-style: none;
}

.advantages__item {
  display: flex;

  &::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    background-color: $basic-green;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
  }

  &--leaf::before {
    background-image: url("../../images/icons/stack.svg#icon-leaf");
    background-size: 30px 32px;
  }

  &--powder::before {
    background-image: url("../../images/icons/stack.svg#icon-powder");
    background-size: 26px 28px;
  }
  &--eat::before {
    background-image: url("../../images/icons/stack.svg#icon-eat");
    background-size: 26px 28px;
    background-position: center;
  }
  &--clock::before {
    background-image: url("../../images/icons/stack.svg#icon-clock");
    background-size: 26px 28px;
  }
}

.advantages__paragraph {
  color: $special-dark-grey;
}
