.input {
  font-family: $secondary-font;
  font-size: 16px;
  padding: 14px 35px 14px 15px;
  height: 45px;
  width: 100%;
  text-transform: uppercase;
  outline: 1px solid #e7e7e7;
  border: none;
  appearance: textfield;

  &:user-invalid {
    outline: 2px solid $status-error;
  }

  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid $special-dark-grey;
  }


  @media (min-width: $tablet-width) {
    padding: 11px 35px 11px 20px;
    font-size: 20px;
    height: 52px;
  }
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  appearance: none;
}
