/* Cтили блока main-nav */
.main-nav {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-black;
  display: flex;
}

.main-nav__checkbox:checked ~ .main-list  {
  display: flex;
}

.main-nav__dropdown-title {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle {
  display: flex;
  width: 24px;
  height: 24px;
  position: relative;
  background-image: url("../../images/icons/stack.svg#burger");
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  z-index: -1;
  padding: 5px;
}
