.main-header {
  position: relative;
  margin: 0 auto;
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 21px 14px 20px;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 25px 34px 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 55px 110px 0 110px;
  }
}
