/* Cтили блока main-footer */
.address__group {
  background-color: $basic-white;
}

.main-footer__social-item {
  list-style: none;
}

.main-footer__social-list {
  margin: 0;
  padding: 0;
}

.main-footer__link-copyright {
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-grey;
  text-decoration: none;
}

.main-footer__secondary-footer {
  background-color: $basic-grey;
}
