.main-header {
  position: relative;
}

.main-header__big-cat {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 50%;
    min-height: 694px;
    background-color: rgba(104, 183, 56, 0.85);

    &::before {
      position: absolute;
      display: block;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left;
      z-index: -1;
      background-image: url("../../images/hero-cat-desktop@1x.webp");
    }

    @media (min-resolution: 2dppx) {
      &::before {
        background-image: url("../../images/hero-cat-desktop@2x.webp");
      }
    }
  }
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 21px 14px 20px;
  margin: 0 auto;
  width: 320px;
  border-bottom: 1px solid #d9d9d9;


  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 25px 34px 0 30px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 55px 110px 0 110px;
    margin: 0 auto;
  }
}

.main-header__logo {
  align-self: flex-start;
}
