/* Cтили блока offer */
.offer__wrapper {
  display: flex;
  flex-direction: column;
  font-family: $secondary-font;
  text-align: center;
  background: rgba(104, 183, 56, 0.85);

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    background-color: $basic-white;
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin-bottom: 82px;
  }
}

.offer__title {
  font-size: 36px;
  line-height: 36px;
  color: $basic-white;
  font-weight: 400;
  margin: 25px 0 26px;


  @media (min-width: $tablet-width) {
    width: 415px;
    margin: 40px 0 40px 90px;
    font-size: 60px;
    line-height: 60px;
    color: $basic-black;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.offer__paragraph {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $basic-white;
  margin: 0 0 29px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 50px 90px;
    color: $basic-black;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.offer__button {
  padding: 10px 63px;
  margin-bottom: 20px;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    padding: 14px 27px;
    margin-left: 90px;
    font-size: 20px;
    line-height: 26px;
    z-index: 1;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.offer__picture-wrap {
  @media (min-width: $tablet-width) {
    order: 4;
    margin-top: -84px;
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.offer__list {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 80px;
    margin-top: 85px;
  }
}

.offer__heading {
  @media (min-width: $desktop-width) {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    width: 415px;
    margin: 0 0 40px 0;
  }
}

.offer__subtitle {
  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0 0 52px 0;
  }
}

.offer__desk-button {
  @media (min-width: $desktop-width) {
    padding: 14px 27px;
    background-color: $basic-green;
    font-size: 20px;
    line-height: 26px;
  }
}
