/* Cтили блока product */

.product__item {
  list-style: none;
  padding: 20px 20px 25px;
  border-top: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    padding: 10px 37px 40px;
    min-height: 511px;
    border: none;
    background-image: linear-gradient(to bottom, $basic-white 81px, #f2f2f2 0);
  }

  &:last-child {
    position: relative;
    border-bottom: 1px solid #cdcdcd;

    @media (min-width: $tablet-width) {
      border: none;
      background-image: none;

      &::before {
        content: "";
        width: 324px;
        height: 431px;
        top: 80px;
        left: 0;
        position: absolute;
        border: 2px solid #f2f2f2;
      }
    }

    @media (min-width: $desktop-width) {
      &::before {
        content: "";
        width: 245px;
      }
    }
  }
}

.product__item-wrapper {
  display: flex;
  margin-bottom: 17px;

  &--bottom-mg {
    margin-bottom: 13px;
  }

  @media (min-width: $tablet-width) {
   flex-direction: column;
   align-items: center;
   margin-bottom: 32px;
  }
  @media (min-width: $desktop-width) {
   flex-direction: column;
   align-items: center;
   margin-bottom: 36px;
  }
}



.product-data {
display: flex;
flex-direction: column;


  @media (min-width: $tablet-width) {
    width: 250px;
    align-items: center;
  }
  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.product__title {
  width: 76px;
  font-size: 16px;
  line-height: 20px;
  font-family: $secondary-font;
  font-weight: 400;
  margin: 0;
  margin-bottom: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 135px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 17px;
   }
  @media (min-width: $desktop-width) {
    margin-bottom: 24px;
   }
}

.product__link {
  margin: 0;
  text-decoration: none;
  color: $special-black;
}

.product__link-img {
  display: flex;
  width: 140px;
  height: 107px;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 210px;
    margin-bottom: 22px;
  }
  @media (min-width: $desktop-width) {
    width: 169px;
    height: 210px;
    margin-bottom: 12px;
  }
}

.product__img {
  width: 100%;
}

.product__description-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 100%;
    gap: 10px;
  }
}

.product__description {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
  margin: 0;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    position: relative;
    height: 24px;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      position: absolute;
      background-color: #cdcdcd;
      top: 25px;
    }
  }
}

.product__button {
  background-color: $basic-green;
  border: none;
  padding: 10px 0;
  width: 100%;



}
