/* Cтили блока reason */
.reason__list {
  margin: 0;
  padding: 0;
}

.reason__item {
  background-color: $basic-grey;
  list-style: none;
}
.reason__title {
  font-size: 24px;
  text-transform: uppercase;
  line-height: 37px;
  font-family: $secondary-font;
}
.reason__paragraph {
  color: $special-dark-grey;
}
.reason__link {
  font-size: 16px;
  line-height: 16px;
  font-family: $secondary-font;
  color: $basic-black;
  text-decoration: none;
  text-transform: uppercase;
}
