/* Cтили блока selection */
.selection {
  font-family: $secondary-font;
  padding-top: 27px;
  overflow-x: hidden;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 75px;
  }
}

.selection__form {
  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.selection__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0 0 37px 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 54px 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 54px 0;
  }
}

.selection__paragraph {
  width: 226px;
  margin: 0 0 39px 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 66px 40px;
    width: 323px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 66px 0;
  }
}

.selection__container-list {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin-bottom: 70px;
  }
}

.selection__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 14px;
  margin: 0;
  padding: 0;
  margin-bottom: 46px;
  position: relative;


  &--bottom-mg {
    margin-bottom: 24px;

    @media (min-width: $tablet-width) {
      margin-bottom: 65px;
    }
  }

  @media (min-width: $tablet-width) {
    gap: 20px;

    &--space-bottom {
      margin-bottom: 72px;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: space-between;

    &--col-row {
      flex-direction: row;
    }

    &--space-bottom {
      margin-bottom: 0;
    }
  }
}

.selection__radio-list--elements {
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100vh;
    height: 1px;
    left: -30px;
    top: -22px;
    background-color: #cdcdcd;
  }

  &::before {
    top: 135px;
  }
}

@media (min-width: $tablet-width) {
  ::before,
  ::after {
    display: none;
  }
}


.selection__radio-list {

  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 13px;
  position: relative;
  margin: 0 0 45px 0;

  @media (min-width: $tablet-width) {
    padding: 23px 27px;
    border: 1px solid #cdcdcd;
    margin: 0 0 65px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 25px 28px;
    width: 570px;
    margin: 0;
  }
}

.selection__field-group {
  display: flex;
  align-items: center;
  gap: 13px;
  list-style: none;
}

.selection__form-name {
  display: flex;
  gap: 5px;
}


.selection__form-radio-input:disabled + .selection__radio {
  opacity: 0.3;
}

.selection__form-radio-input:checked + .selection__radio::after {
  display: flex;
}

.selection__form-checkbox-input:checked + .selection__checkbox::after {
  display: flex;
}

.selection__radio {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;

  &:hover {
    &::before {
      border-color: #bababa;
    }
  }

  @media (min-width: $tablet-width) {
    gap: 20px;
  }

  &::before {
    content: "";
    display: flex;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid #cdcdcd;


    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
    }
  }


  &::after {
    content: "";
    display: none;
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background-color: $basic-green;
    left: 9px;

    @media (min-width: $tablet-width) {
      width: 18px;
      height: 18px;
      left: 11px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.selection__checkbox {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;

  &:hover {
    &::before {
      border-color: #bababa;
    }
  }

  @media (min-width: $tablet-width) {
    gap: 20px;
  }

  &::before {
    content: "";
    display: flex;
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;


    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
    }
  }

  &::after {
    content: "";
    display: none;
    position: absolute;
    width: 26px;
    height: 26px;
    left: 2px;
    background-image: url("../../images/icons/stack.svg#tick");

    @media (min-width: $tablet-width) {
      left: 1px;
      width: 35px;
      height: 35px;
      top: 2px;
    }
  }
}

.selection__form-checkbox-input:disabled + .selection__checkbox {
  opacity: 0.3;
}

.selection__item-group {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 13px;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 628px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.selection__form-input-wrap {
  width: 100%;
  position: relative;
  display: inline-block;

  .selection__icon--validity::before {
    content: "";
    position: absolute;
    right: 12px;
    top: 13px;
    width: 20px;
    height: 20px;
    mask-image: url("../../images/icons/stack.svg#mail");
    mask-repeat: no-repeat;
    background-color: $basic-black;
    z-index: 1;

    @media (min-width: $tablet-width) {
      position: absolute;
      right: 14px;
      top: 18px;
      width: 20px;
      height: 20px;
    }
  }

  .selection__icon--call::before {
    content: "";
    position: absolute;
    right: 13px;
    top: 13px;
    width: 20px;
    height: 20px;
    mask-image: url("../../images/icons/stack.svg#call");
    mask-repeat: no-repeat;
    background-color: $basic-black;
    z-index: 1;

    @media (min-width: $tablet-width) {
      right: 12px;
      top: 18px;
    }
  }
}

.election__input-mail--mail-icon-icon:focus + .selection__icon--validity::before {
  background-color: $basic-green;
}

.election__input-mail--mail-icon:invalid + .selection__icon--validity::before {
  border-color: $status-error;
}

.election__input-mail--mail-icon:invalid {
  border: 2px solid $status-error;
}

.selection__form-input-phone--call-icon:focus + .selection__icon--call::before {
  background-color: $basic-green;
}

.selection__form-input-phone--call-icon:invalid + .selection__icon--call::before {
  background-color: $status-error;
}

.selection__form-input-phone--call-icon:invalid {
  border: 2px solid $status-error;
}


.selection__item {
  color: $special-dark-grey;
  list-style: none;

  &--sweetener-gap {
    @media (min-width: $desktop-width) {
      margin-right: 104px;
    }
  }

  &--water-gap {
    @media (min-width: $desktop-width) {
      margin-right: 136px;
    }
  }

  &--milk-gap {
    @media (min-width: $desktop-width) {
      margin-right: 197px;
    }
  }
}

.selection__form-text {
  width: 280px;
  height: 150px;
  padding: 14px;
  font-size: 16px;
  line-height: 18px;
  font-family: $secondary-font;
  color: $special-dark-grey;
  text-transform: uppercase;
  border-color: #e7e7e7;

  @media (min-width: $tablet-width) {
    width: 628px;
    height: 175px;
    font-size: 20px;
    line-height: 30px;
    padding: 11px 20px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    height: 175px;
    padding: 9px 20px;
  }
}

.selection__textarea-wrap {
  margin: 0 0 23px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 65px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 70px 0;
  }
}

.selection__checkbox-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 13px;
  margin: 0 0 34px 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 32px;
    column-gap: 25px;
    margin: 0 0 52px 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    gap: 0;
    margin: 0 0 60px 0;
  }
}


.selection__contacts-section {
  border: none;
  margin: 0;
  padding: 0;
}

.selection__heading-title {
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;
  padding: 0;
  margin-bottom: 35px;
  position: relative;
  width: fit-content;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    white-space: nowrap;
    margin-bottom: 55px;

    &--bottom-mg {
      margin-bottom: 87px;
    }

    &--space-bottom {
      margin-bottom: 76px;
    }
  }

  @media (min-width: $desktop-width) {
    &--bottom-mg {
      margin-bottom: 78px;
    }
  }

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 17px;
    width: 100vw;
    height: 2px;
    background-color: $basic-green;

    @media (min-width: $tablet-width) {
      top: 22px;
    }
  }

  &::before {
    right: calc(100% + 20px);

    @media (min-width: $tablet-width) {
      right: calc(100% + 40px);
    }
  }

  &::after {
    left: calc(100% + 20px);

    @media (min-width: $tablet-width) {
      left: calc(100% + 40px);
    }
  }
}


.selection__bottom-wrap {
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    gap: 80px;
    margin-bottom: 81px;
  }
}

.selection__button {
  background-color: $basic-green;
  padding: 5px;
  width: 280px;
  min-height: 40px;
  text-align: center;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    width: 284px;
    min-height: 54px;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.selection__required-element {
  font-family: $primary-font;
  line-height: 16px;
  text-align: center;
  display: block;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}
