/* Cтили блока selection */
.selection {
  font-family: $secondary-font;
}

.selection__title {
  font-size: 36px;
  line-height: 36px;
}

.selection__list {
  margin: 0;
  padding: 0;
}

.selection__field-group {
  list-style: none;
}

.selection__form-name {
  color: $special-dark-grey;
}

.selection__form-input-wrap {
  position: relative;
  display: inline-block;
  .selection__icon--validity::before {
    content: "";
    position: absolute;
    right: 12px;
    top: 13px;
    width: 20px;
    height: 20px;
    mask-image: url("../../images/icons/stack.svg#mail");
    mask-repeat: no-repeat;
    background-color: $basic-black;
    z-index: 1;

  }
}
.selection__form-input-wrap {
  position: relative;
  display: inline-block;
  .selection__icon--call::before {
    content: "";
    position: absolute;
    right: 13px;
    top: 13px;
    width: 20px;
    height: 20px;
    mask-image: url("../../images/icons/stack.svg#call");
    mask-repeat: no-repeat;
    background-color: $basic-black;
    z-index: 1;

  }
}

.selection__form-input--mail-icon:focus + .selection__icon--validity::before {
  background-color: $basic-green;
}

.selection__form-input--mail-icon:invalid + .selection__icon--validity::before {
  background-color: $status-error
}


.selection__form-input--mail-icon:invalid {
  border: 2px solid $status-error;
}
.selection__item {
  color: $special-dark-grey;
}

.selection__contacts-section {
  border: none;
  margin: 0;
  padding: 0;
}

.selection__heading-title {
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;
}

.selection__form-text {
  font-family: $secondary-font;
  color: $special-dark-grey;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.selection__button {
  background-color: $basic-green;
}

.selection__required-element {
  font-family: $primary-font;
  line-height: 16px;
}
