/* Cтили блока slider */
.slider {
  position: relative;
  min-height: 256px;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 560px;
    min-height: 512px;
  }
  @media (min-width: $desktop-width) {
    grid-row: 1 / 4;
    grid-column: 2 / 3;
  }
}

.slider__button-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 7;

  &::after {
    content: "";
    position: absolute;
    height: 256px;
    width: 4px;
    background-color: #666666;
    transform: translate(-50%, -50%);

    &:hover {
      background-color: $basic-green;
    }

    @media (min-width: $tablet-width) {
      height: 512px;
    }
  }
}

.slider__button {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #666666;
  background-color: $basic-white;
  border-radius: 50%;
  cursor: e-resize;
  z-index: 1;

  &:hover {
    border: 2px solid $basic-green;
  }

  &:active {
    border: 2px solid $basic-green;
    opacity: .6;
  }

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 18px;
    mask-image: url("../../images//icons//stack.svg#slider-arrows");
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: #666666;
    z-index: 4;
  }

  &:hover::before{
    background-color: $basic-green;
  }

  &:disabled {
    opacity: .2;
    cursor: default;

    &:hover {
      border: 2px solid #666666;
      opacity: .2;
    }

    &:hover::before,
    &:active::before {
      background-color: #666666;
      opacity: .2;
    }
  }
}


.slider__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  padding: 0;
}

.slider__item {
  top: 0;
  left: 0;
  width: 140px;
  overflow-x: hidden;

  &--after {
    z-index: 3;
    display: flex;
    justify-content: end;
  }

  @media (min-height: $tablet-width) {
    width: 280px;
  }
}

.slider__image {
  min-width: auto;
}

